<section class="container-fluid py-3">
   <div class="sign__in--container w-75 mx-auto">
     <div class="title pb-4">
       <h1>Log In</h1>
     </div>
     <form
       class="sign-container"
       [formGroup]="logInForm"
       (ngSubmit)="submitLogIn(logInForm)"
     >
     <p class="alert alert-danger small" *ngIf="msgError">
      {{ msgError | slice: msgError.indexOf(":") + 1 }}
    </p>
       <div class="input-data position-relative mt-3">
         <input
           [ngClass]="{
             'form-control': true,
             'is-valid': logInForm.get('email')?.valid,
             'is-invalid':
               logInForm.get('email')?.invalid && logInForm.get('email')?.value
           }"
           type="email"
           placeholder=" "
           formControlName="email"
         />
         <label
           for="email"
           class="form-label position-absolute top-50 start-0 translate-middle-y ps-2 ms-1 text-dark"
           >E-mail</label
         >
       </div>
       <div
         class="msg-error small"
         *ngIf="
           logInForm.get('email')?.errors && logInForm.get('email')?.touched
         "
       >
         <p
           class="text-danger"
           *ngIf="logInForm.get('email')?.getError('required')"
         >
           E-mail Required
         </p>
         <p
           class="text-danger"
           *ngIf="logInForm.get('email')?.getError('email')"
         >
           In Valid Format E-mail
         </p>
       </div>
       <div class="input-data position-relative mt-3">
         <input
           [ngClass]="{
             'form-control': true,
             'is-valid': logInForm.get('password')?.valid,
             'is-invalid':
               logInForm.get('password')?.invalid &&
               logInForm.get('password')?.value
           }"
           type="password"
           placeholder=" "
           formControlName="password"
         />
         <label
           for="password"
           class="form-label position-absolute top-50 start-0 translate-middle-y ps-2 ms-1 text-dark"
           >Password</label
         >
       </div>
       <div
         class="msg-error small"
         *ngIf="
           logInForm.get('password')?.errors &&
           logInForm.get('password')?.touched
         "
       >
         <p
           class="text-danger"
           *ngIf="logInForm.get('password')?.getError('required')"
         >
           Password Required
         </p>
         <p
           class="text-danger"
           *ngIf="logInForm.get('password')?.getError('minlength')"
         >
           Min Length 2
         </p>
         <p
           class="text-danger"
           *ngIf="logInForm.get('password')?.getError('maxlength')"
         >
           Max Length 10
         </p>
         <ul
           class="text-danger"
           *ngIf="logInForm.get('password')?.getError('pattern')"
         >
           <li>Start A to Z</li>
           <li>Write Number Or Char</li>
         </ul>
       </div>
       <button
         type="submit"
         class="btn btn-secondary btn-form font-moc text-uppercase mt-4"
         [disabled]="logInForm.invalid"
       >
         LogIn
         <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin"></i></span>
       </button>
     </form>
   </div>
 </section>
 