<header>
  <app-swiper></app-swiper>
</header>
<div class="container-fluid py-3">
  <!-- ------------- Movies ------------- -->
  <div class="row gy-4 justify-content-evenly">
    <div class="col-md-3 hstack justify-content-center">
      <div class="title">
        <h2>
          Trending<br />
          Movies<br />
          To Watch Now
        </h2>
        <p>Most Watched Movies By Days</p>
      </div>
    </div>
    <div *ngFor="let movie of treindingMovies" class="col-md-3">
      <div class="card h-100 bg-light border-0 text-center">
        <div
          class="images overflow-hidden"
          [routerLink]="['/details', movie.id, 'movie']"
        >
          <svg width="80" height="80" class="svg-progrees">
            <circle
              cx="40"
              cy="40"
              r="18"
              stroke="darkgray"
              stroke-width="3"
              stroke-opacity="0.1"
            />
            <circle
              cx="40"
              cy="40"
              fill="none"
              r="18"
              [attr.stroke]="
                (movie.vote_average | convert) >= 70
                  ? 'green'
                  : (movie.vote_average | convert) >= 50
                  ? 'gold'
                  : 'tomato'
              "
              stroke-width="3"
              stroke-linecap="round"
              pathLength="100"
              [attr.stroke-dashoffset]="movie.vote_average | progrees"
              stroke-dasharray="100"
              transform-origin="40 40"
              transform="rotate(-90)"
            />
            <text x="30" y="45" fill="white" class="small">
              {{ movie.vote_average | convert }}%
            </text>
          </svg>
          <img
            class="card-img-top img-thumbnail border-0 bg-transparent"
            [src]="imgPath + movie.poster_path"
            onerror="this.src='./assets/images/img-not.jpg'"
            [alt]="movie.title"
            [title]="movie.title"
          />
        </div>
        <div class="card-body">
          <h2 class="h6 small card-title">
            {{ movie.title }}
          </h2>
          <p class="card-text">
            {{ movie.overview | overview: 0:10 }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- ------------- Tv ------------- -->
  <div class="row gy-4 my-4 justify-content-evenly">
    <div class="col-md-3 hstack justify-content-center">
      <div class="title">
        <h2>
          Trending<br />
          Tv<br />
          To Watch Now
        </h2>
        <p>Most Watched Tv By Days</p>
      </div>
    </div>
    <div *ngFor="let movie of treindingTv" class="col-md-3">
      <div class="card h-100 bg-light border-0 text-center">
        <div
          class="images overflow-hidden"
          [routerLink]="['/details', movie.id, 'tv']"
        >
          <svg width="80" height="80" class="svg-progrees">
            <circle
              cx="40"
              cy="40"
              r="18"
              stroke="darkgray"
              stroke-width="3"
              stroke-opacity="0.1"
            />
            <circle
              cx="40"
              cy="40"
              fill="none"
              r="18"
              [attr.stroke]="
                (movie.vote_average | convert) >= 70
                  ? 'green'
                  : (movie.vote_average | convert) >= 50
                  ? 'gold'
                  : 'tomato'
              "
              stroke-width="3"
              stroke-linecap="round"
              pathLength="100"
              [attr.stroke-dashoffset]="movie.vote_average | progrees"
              stroke-dasharray="100"
              transform-origin="40 40"
              transform="rotate(-90)"
            />
            <text x="30" y="45" fill="white" class="small">
              {{ movie.vote_average | convert }}%
            </text>
          </svg>
          <img
            class="card-img-top img-thumbnail border-0 bg-transparent"
            [src]="imgPath + movie.poster_path"
            onerror="this.src='./assets/images/img-not.jpg'"
            [alt]="movie.name"
            [title]="movie.name"
          />
        </div>
        <div class="card-body">
          <h2 class="h6 small card-title">
            {{ movie.name }}
          </h2>
          <p class="card-text">
            {{ movie.overview | overview: 0:10 }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- ------------- People ------------- -->
  <div class="row gy-4 my-4 justify-content-evenly">
    <div class="col-md-3 hstack justify-content-center">
      <div class="title">
        <h2>
          Trending<br />
          People<br />
          To Watch Now
        </h2>
        <p>Most Watched Tv By Days</p>
      </div>
    </div>
    <div *ngFor="let movie of treindingPeople" class="col-md-3">
      <div class="card h-100 bg-light border-0 text-center">
        <div
          class="images overflow-hidden"
          [routerLink]="['/details', movie.id, 'person']"
        >
          <img
            class="card-img-top img-thumbnail border-0 bg-transparent"
            [src]="imgPath + movie.profile_path"
            onerror="this.src='./assets/images/img-not.jpg'"
            [alt]="movie.name"
            [title]="movie.name"
          />
        </div>
        <div class="card-body">
          <h2 class="h6 small card-title">
            {{ movie.name }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
